/*
Seyes est un logiciel libre
sous licence GNU GPL
écrit par Arnaud Champollion
*/



@font-face {
    font-family: 'AA Cursive';
    src: url('polices/ABcursive-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url('polices/OpenDyslexic-Regular.otf') format('truetype');
}

::selection {
  background-color: rgba(0, 255, 255, 0.568);  
}

* {
    margin:0;
    padding:0;
  }

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-size: 0;
    padding: 0;
    margin: 0;
    overflow-y:auto;
    background-image: url(images/carreau_marge.svg);
    background-color: white;
}

#boutons {
    position: fixed;
    border: 3px solid black;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#marge {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

#boutons button, #boutons input, #boutons select, #zone_couleur, #boutons label {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin : 5px;
    background-color: transparent;
    border: none;
    background-size: contain;
    vertical-align: middle;
}


/* Masquer l'input de type fichier */
input[type="file"] {
    display: none !important;
}

#bouton_image {
    background-image: url(images/image.svg);

}

#zoom_in {
    background-image: url(images/zoom_in.svg);
}

#zoom_out {
    background-image: url(images/zoom_out.svg);
}

#souligne {
    background-image: url(images/souligne.svg);
}

#zone_couleur {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 2px solid black;
    overflow: hidden;
}

#applique_couleur {
    text-align: center;
    margin: 0 !important;
    height: 23px !important;
    border-radius: 0% 0% 100% 100%;
}

#lance_couleur {
    display: inline-block;
    background-image: url(images/fleche.svg);
    height: 23px !important;
    background-repeat: no-repeat !important;
    margin: 0 !important;
    border-radius: 100% 100% 0% 0% ;
}

#no_souligne {
    background-image: url(images/no_souligne.svg);
}

#choix_police {
    background-image: url(images/aa_cursive.svg);

}

#bouton_ligatures {
    background-image: url(images/ligatures.svg);
    background-size: 50px 100px !important;
    background-position: 0% 100%;
}

#a_propos {
    background-image: url(images/question.svg);
    background-size: 50px 100px !important;
    background-position: 0% 100%;
}

#fullscreen {
    background-image: url(images/fullscreen.svg);
    background-size: 50px 100px !important;
    background-position: 0% 100%;
}


#page {
    display: inline-block;
    position: relative;
    width:calc(80% - 3px);
    min-height: 100%;
    background-image: url(images/carreau.svg);
    border-left: 3px solid red;
}

#page::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px; /* Largeur de la "bordure" virtuelle */
    height: 100%;
    width: 5px; /* Largeur de la "bordure" virtuelle */
    cursor: ew-resize; /* Changer le curseur pour indiquer un redimensionnement horizontal */
}

.texte {
    font-family: AA cursive;
    letter-spacing: 0.01em;    
    color: blue;
    overflow-wrap: anywhere;
}

.texte:focus {
    outline: none;
}

.souligne, u {
    text-decoration: underline;
    text-decoration-color: red;
 /*   text-underline-offset: 0.3em; */
    text-decoration-thickness: 0.1em;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0px;
}

.lightbox {
    position: fixed;
    border: 5px solid black;
    border-radius: 15px;
    background-color: white;
    max-width: 80%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.lightbox button {
    padding:5px;
}

#reglages {
    top: 100px;
    left: 100px;
}

#reglages form label {font-size: 20px;}

#reglages input {font-size: 20px;}

#zone_menu_police {
    user-select: none;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton_suppr {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    margin : 5px;
    background-color: transparent;
    border: none;
    background-size: contain;
    background-image: url(images/corbeille.svg);
}